<% if logged_in? %>
  <h1><%= current_user.name %>のタスク一覧</h1>

  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id, task_path(task) %> : <%= task.content %> &gt; <%= task.status %></li>
    <% end %>
  </ul>

  <%= link_to "新規タスクの登録", new_task_path %>

<% else %>
  <% redirect_to login_url %>
<% end %>
